.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b0ff77;
}
header {
    margin-bottom: 20px;
    color: #000000;
}
#quote-container {
    background: #ffffff;
    padding: 60px;
    border-radius: 85px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}
#quote {
    color: #000000;
    font-size: 16px;
    margin-bottom: 20px;
}
button {
    background-color: #FF7300;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #dc8c31;
}
